/* Load fonts */

@font-face {
  font-family: Brusher;
  src: url(./fonts/Brusher.ttf);
}
@font-face {
  font-family: LatoHeavy;
  src: url(./fonts/Lato-Heavy.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background: url("/images/background.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  font-family: Lato;
}

p {
  color: #fff;
  font-size: 1.5em;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
