.caroTheDevLink a {
  color: #a33387;

  transition: all 0.4s ease-in-out;
}
.caroTheDevLink a:hover {
  background: -webkit-linear-gradient(
    right,
    #fcb444,
    #cd6600,
    #8e2112,
    #0e5b7f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
