.checkboxesMenuMobile {
  /* left: 0;
  top: 0;
  max-width: 100%;
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #1e243d;
  z-index: 19;
  overflow: scroll; */

  background-color: #1e243d;
  padding: 1rem;
  /* position: absolute; */
  top: 0;
  z-index: 19;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.checkboxesMenuMobileHidden {
  /* top: -150vh;
  top: 0;
  height: 0;
  max-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #1e243d;
  z-index: 19;
  overflow: scroll; */

  background-color: #1e243d;
  position: absolute;
  z-index: 19;
  top: -200vh;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.closeButton {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  background-color: #a33387;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 1px 1px 10px 1px #333333;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.closeButton:hover {
  cursor: pointer;
  background-color: #fff;
  color: #1e243d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 1px 1px 10px 1px #0e0e0e;
  transform: translateX(-1px) translateY(-1px);
  -webkit-transform: translateX(-1px) translateY(-1px);
}
