.checkboxesMenuMobile {
  /* left: 0;
  top: 0;
  max-width: 100%;
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #1e243d;
  z-index: 19;
  overflow: scroll; */

  background-color: #1e243d;
  padding: 1rem;
  /* position: absolute; */
  top: 0;
  z-index: 19;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.checkboxesMenuMobileHidden {
  /* top: -150vh;
  top: 0;
  height: 0;
  max-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #1e243d;
  z-index: 19;
  overflow: scroll; */

  background-color: #1e243d;
  position: absolute;
  z-index: 19;
  top: -200vh;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
