.criteriaContianer {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
/* @media screen and (max-width: 750px) {
  .criteriaContianer {
    justify-content: center;
  }
} */
