.donateButton {
  border-radius: 5px;
  border: none;
  padding: 0.75rem 1rem;
  /* margin: 0 0 1rem; */
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #a33387;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.donateButton:hover,
.donateButton:focus {
  background: #271f6b;
  transform: translateX(-1px) translateY(-1px);
  -webkit-transform: translateX(-1px) translateY(-1px);
  box-shadow: 1px 2px 3px #292929;
  -webkit-box-shadow: 1px 2px 3px #292929;
  -moz-box-shadow: 1px 2px 3px #292929;
}

.donateButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.donateButton:active {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
}

@media screen and (max-width: 750px) {
  .donateButton {
    margin: 0.5rem;
  }
}
