.ethicsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin: auto;
}
@media screen and (max-width: 750px) {
  .ethicsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
.ethicsContainer p {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.ethicsContainer img {
  max-width: 64px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.ethicsContainer img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.imageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
