.headerContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.75);

  transition: all 0.3s ease-in;
}

.collapsedHeaderContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.75);

  transition: all 0.3s ease-in;
}

@media screen and (max-width: 750px) {
  .headerNavContainer {
    flex-direction: column;
  }
}
