.listen {
  text-align: center;
  cursor: pointer;
}
.listen div {
  border: none;
  padding: 1.2rem;
  font-size: 1rem;
  text-decoration: none;
  background: transparent;
  color: #271f6b;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.listen div:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
.listen div::before {
  font-family: FontAwesome;
  content: "\f001";
  padding-right: 1rem;
  animation: glow 2s infinite;
  -webkit-animation: glow 2s infinite;
}
.listen div::after {
  width: min-content;
  height: auto;
  display: inline-block;
  font-family: FontAwesome;
  content: "\f078";
  padding-left: 1rem;
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/* HIDDEN */

.listenHidden {
  text-align: center;
  cursor: pointer;
}
.listenHidden div {
  border: none;
  padding: 1.2rem;
  font-size: 1rem;
  text-decoration: none;
  background: transparent;
  color: #271f6b;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
  -webkit-appearance: none;
  -moz-appearance: none;
}
.listenHidden div:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
.listenHidden div::before {
  font-family: FontAwesome;
  content: "\f001";
  padding-right: 1rem;
  animation: glow 2s infinite;
  -webkit-animation: glow 2s infinite;
}
.listenHidden div::after {
  width: min-content;
  height: auto;
  display: inline-block;
  font-family: FontAwesome;
  content: "\f078";
  padding-left: 1rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

@keyframes glow {
  0% {
    color: #271f6b;
  }
  50% {
    color: #9bc28c;
  }
  100% {
    color: #271f6b;
  }
}
@-webkit-keyframes glow {
  0% {
    color: #271f6b;
  }
  50% {
    color: #9bc28c;
  }
  100% {
    color: #271f6b;
  }
}
