.liveVideoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto 2rem;
}
.responsiveVideoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
.reactPlayer iframe {
  width: 100%;
  height: 315;
}

@media screen and (max-width: 750px) {
  .liveVideoContainer {
    margin: 2rem 0 0;
  }
}
/* 
.liveVideoContainer iframe,
.liveVideoContainer object,
.liveVideoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
} */
