.logoContainer {
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}
.SVGText {
  transition: 0.4s ease-in-out;
}
.collapsedSVGText {
  width: 55%;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 750px) {
  .logoContainer {
    flex: unset;
  }
  .toggledLogo {
    width: 80%;
  }
}

/* ANIMATION */

.T,
.e,
.c,
.o,
.m,
.a,
.T_2,
.w,
.i,
.l,
.i_2,
.g,
.h,
.t {
  animation: twinkle 4s linear infinite;
}
.m {
  animation-delay: 0s;
}
.c,
.i_2 {
  animation-delay: 0.4s;
}
.T {
  animation-delay: 0.8s;
}
.i {
  animation-delay: 1s;
}
.T_2 {
  animation-delay: 1.2s;
}
.o {
  animation-delay: 1.6s;
}
.w {
  animation-delay: 2s;
}
.e {
  animation-delay: 2.4s;
}
.l {
  animation-delay: 2.8s;
}
.g {
  animation-delay: 3.2s;
}
.a,
.t {
  animation-delay: 3.6s;
}

@keyframes twinkle {
  0% {
    fill: #271f6b;
  }
  10% {
    fill: #e4b1dd;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(8px 3px 2px rgba(248, 177, 255, 0.897));
  }
  30%,
  100% {
    fill: #271f6b;
  }
}

.ethical {
  filter: drop-shadow(8px 10px 6px #271f6b);
}
