.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  flex: 0.7;
}
.logoContainer a {
  text-align: center;
}
.SVGText {
  width: 100%;
  transition: 0.4s ease-in-out;
}
.collapsedSVGText {
  width: 55%;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 750px) {
  .toggledLogo {
    width: 80%;
  }
}
