.formText {
	text-align: center;
	max-width: 500px;
	margin: auto;
}

.msg-alert p {
	color: #ffe685;
}

.formContainer,
.formContainer form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 1rem auto;
}

.formContainer input {
	border-radius: 5px;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0 0 1rem;
	font-size: 1rem;
}

.formContainer form button {
	border-radius: 5px;
	border: none;
	padding: 1rem 2rem;
	margin: 0 0 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: #a33387;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;

	transition: all 0.2s ease-in-out;
}

.formContainer form button:hover,
.formContainer form button:focus {
	background: #271f6b;
	transform: translateX(-1px) translateY(-1px);
	-webkit-transform: translateX(-1px) translateY(-1px);
	box-shadow: 1px 2px 3px #292929;
	-webkit-box-shadow: 1px 2px 3px #292929;
	-moz-box-shadow: 1px 2px 3px #292929;
}

.formContainer form button:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

.formContainer form button:active {
	transform: scale(0.99);
	-webkit-transform: scale(0.99);
}

@media screen and (max-width: 750px) {
	.formContainer form button {
		width: 100%;
		font-size: 1rem;
	}
}
