a.navItem {
  position: relative;
  margin: 0 1rem;
  font-size: 2.5em;
  color: #271f6b;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a.navItem:hover {
  color: #ff63b1;
}
a.navItem:active,
a.navItem:focus {
  outline: none;
}

@media screen and (max-width: 750px) {
  a.navItem {
    padding: 1rem 2rem;
  }
}
