.navMobileHidden {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  flex: 1;

  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.navMobileDisplayed {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  flex: 1;

  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.mobileNavSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.mobileNavSocials a {
  padding: 0;
}
