.navMobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  flex: 1;
}
