.productCard {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  background-color: #fff;
  color: #271f6b;
  max-width: 900px;
  border-radius: 8px;
  margin: 1rem;
  -webkit-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imageContainer img {
  object-fit: cover;
  -o-object-fit: cover;
  max-height: 250px;
  height: 100%;
  width: 100%;
  border-radius: 8px 0 0 8px;
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.productInfo h2 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 2px;
  padding: 1rem;
}
.productInfo p {
  padding: 0 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
  .productCard {
    flex-direction: column;
  }
  .imageContainer {
    height: 50%;
    width: 100%;
  }
  .imageContainer img {
    border-radius: 8px 8px 0 0;
  }
  .productInfo {
    width: 100%;
    padding: 0;
  }
  .productInfo h2 {
    font-size: 1.2rem;
  }
  .productInfo p {
    font-size: 1rem;
    margin-top: 0;
  }
}
