.productsGallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .productsGallery {
    justify-content: center;
    align-items: stretch;
  }
}
/* .productsGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  max-width: 100%;
  margin: 1rem auto;
} */
