.shopButton {
  margin: 0 0 1rem 0;
  min-width: 300px;
  border-radius: 5px;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: #a33387;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.shopButton:hover,
.shopButton:focus {
  background: #271f6b;
  transform: translateX(-1px) translateY(-1px);
  -webkit-transform: translateX(-1px) translateY(-1px);
  box-shadow: 1px 4px 5px #414141;
}

.shopButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.shopButton:active {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
}

@media screen and (max-width: 750px) {
  .form,
  .shopButton {
    min-width: unset;
    width: 100%;
    margin: 0 auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
}
