.stallThumb {
  opacity: 0.9;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);

  transition: all 0.2s ease-in-out;
}
.stallThumb:hover {
  opacity: 1;
  transform: translateY(-2px) translateX(-2px);
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.75);
}
.storeName {
  color: #271f6b;
  padding: 0.5rem 0;
  margin: 0 0 0.5rem;
  font-family: Brusher;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;

  transition: all 0.2s ease-in-out;
}
.stallThumb:hover .storeName {
  color: #e4b1dd;
}

.stallImageContainer img {
  width: 100%;
}
.stallImageContainer {
  width: 100%;
  margin: auto;
}

.keywordContainer {
  align-self: flex-start;
}
